getBackground(theme = 'light')
  if theme == 'light'
    background-color #ecf0f3
  else if theme == 'dark'
    background-color #2f3338

getShadow(size, colorSet, isInset = false)
  if isInset
    box-shadow inset (size / 10)px (size / 10)px (size / 5)px colorSet[0], inset (size / 10 * -1)px (size / 10 * -1)px (size / 5)px colorSet[1]
  else
    box-shadow (size / 10)px (size / 10)px (size / 5)px colorSet[0], (size / 10 * -1)px (size / 10 * -1)px (size / 5)px colorSet[1]

getCard(theme = 'light', shape = 'flat', size = 300, borderRadius = 50px)
  border-radius borderRadius
  if theme == 'light'
    getShadow(size, #c9cccf #ffffff, shape == 'pressed')
    if shape == 'flat'
      background #ecf0f3
    else if shape == 'concave'
      background linear-gradient(145deg, #d4d8db, #fdffff)
    else if shape == 'convex'
      background linear-gradient(145deg, #fdffff, #d4d8db)
    else if shape == 'pressed'
      background #ecf0f3
  else if theme == 'dark'
    getShadow(size, #282b30 #363b40, shape == 'pressed')
    if shape == 'flat'
      background #2f3338
    else if shape == 'concave'
      background linear-gradient(145deg, #32373c, #2a2e32)
    else if shape == 'convex'
      background linear-gradient(145deg, #2a2e32, #32373c)
    else if shape == 'pressed'
      background #2f3338

getFont(style = 'body', theme = 'light')
  font-family 'Google Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
  if style == 'heading'
    line-height 1.25
    font-weight bold
  if theme == 'dark'
    color rgba(255, 255, 255, 0.92)
  else
    color #1a202c

theme='light'

html
  height 100%

body
  getFont(theme: theme)
  getBackground(theme)
  height 100%
  margin 0

  #__next
    height 100%
    display flex
    justify-content center
  
  h1, h2, h3, h4, h5
    margin 0
    
  .title
    @media screen and (max-height: 720px) and (min-width: 500px)
      width 100%

  .container
    height calc(100% - 40px)
    padding 40px 20px 20px 20px
    max-width 500px
    @media screen and (min-width: 500px)
      height calc(100% - 60px)
      padding 40px 20px
    @media screen and (max-height: 720px) and (min-width: 500px)
      max-width 100%

  .flex
    display flex
    flex-direction column
    justify-content space-between
    height 100%
    @media screen and (max-height: 720px) and (min-width: 500px)
      flex-direction row
      align-items center
      flex-wrap wrap

  .display
    display block
    @media screen and (max-height: 720px) and (min-width: 500px)
      width 50%

  .display > .cover
    width 100%
    display flex
    justify-content center
    padding 0 0 20px 0

  .display > .cover > div
    width 80%
    @media screen and (max-height: 850px) and (min-width: 500px)
      width 70%
    @media screen and (max-height: 720px) and (min-width: 500px)
      width 60%
  
  .display > .cover > div > img
    width 100%
    height auto
    getCard(theme, 'flat', 100)

  .display > .meta
    text-align center

  .display > .meta > h3
    text-align center
    padding 0 0 5px 0

  .controller
    display block
    @media screen and (max-height: 720px) and (min-width: 500px)
      width 50%

  .controller > .command-center
    display flex
    justify-content space-between
    padding 20px 40px
    @media screen and (min-width: 500px)
      padding 20px 60px
    @media screen and (max-height: 720px) and (min-width: 500px)
      padding 20px

  .controller > .command-center > .command
    width 60px
    height 60px
    display flex
    justify-content center
    align-items center
    getCard(theme, 'flat', borderRadius 999px)
    cursor pointer
    @media screen and (min-width: 500px)
      width 80px
      height 80px

  .controller > .command-center > .command:active
    getCard(theme, 'pressed', borderRadius 999px)
  
  .controller > .command-center > .active
    getCard(theme, 'concave', borderRadius 999px)

  .controller > .queue
    padding 20px
    height 50px
    display flex

  .controller > .queue > .next
    height 40px
    width 100%
    getCard(theme, 'flat')
    display flex
    align-items center
    padding-left 20px
    font-size 14px
    @media screen and (min-width: 500px)
      height 50px
      font-size 16px

  .controller > .queue > .next > b
    font-weight 700
    margin-right 5px

  .controller > .queue > .horizontal-spacer
    margin 0 10px

  .controller > .queue > .playlist-button
    min-width 40px
    height 40px
    display flex
    justify-content center
    align-items center
    cursor pointer
    getCard(theme, 'convex', borderRadius 999px)
    @media screen and (min-width: 500px)
      min-width 50px
      height 50px

  .controller > .queue > .playlist-button:active
    getCard(theme, 'flat', borderRadius 999px)